[submodule "public/mediawiki/extensions/googleAnalytics"]
	path = public/mediawiki/extensions/googleAnalytics
	url = https://github.com/wikimedia/mediawiki-extensions-googleAnalytics.git
[submodule "public/mediawiki/extensions/AbuseFilter"]
	path = public/mediawiki/extensions/AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter.git
[submodule "public/mediawiki/extensions/Mailgun"]
	path = public/mediawiki/extensions/Mailgun
	url = https://github.com/wikimedia/mediawiki-extensions-Mailgun.git
[submodule "public/mediawiki/extensions/ReplaceText"]
	path = public/mediawiki/extensions/ReplaceText
	url = https://github.com/wikimedia/mediawiki-extensions-ReplaceText.git
[submodule "public/mediawiki/extensions/WikiSEO"]
	path = public/mediawiki/extensions/WikiSEO
	url = https://github.com/tinymighty/wiki-seo.git
